body {
    margin: 0%;
    padding: 3%;
    font-size: 15px;
    background-color: aliceblue;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
header{
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
}
header > div > h1{
    font-size: 75px;
    margin-bottom: 5px;
}
header > div > p{
    margin-top: 5px;
    font-size: 20px;
    letter-spacing: 1.2px;
}
span{
    color: #1100ff;
}
main{
    display: block;
    align-items: center;
    justify-content: center;
    margin: 0%;
}
.card{
    background-color: rgba(255, 255, 255, 0.5);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: 5px 0px 20px 5px black;
    width: 90%;
    margin: 5%;
    padding: 2%;
    box-sizing: border-box;
}
.card:hover{
    background-color: rgba(127, 127, 255, 0.2);
    box-sizing: border-box;
    box-shadow: 8px 0px 25px 5px black;
}
main > div > h2{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1100ff;
    font-size: 35px;
}
main > div > p{
    margin: 2%;
    font-size: 18px;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0%;
    padding: 0%;
    color: rgb(0, 0, 0);
    font-size: 13px;
    line-height: 0.2;
    letter-spacing: 1.5px;
}
.image{
    padding: 0%;
    display: flex;
}
.image > img{
    border: 1px solid whitesmoke;
    width: 60%;
    display: block;
}
.image > div{
    font-family: 'Poppins', sans-serif;
    color: rgb(0, 0, 0);
    height: 300px;
    width: 100%;
    margin: 3%;
    font-size: 16px;
    overflow: auto;
    line-height: 1.4;
}