body {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 0%;
    padding: 3%;
    font-size: 15px;
    background-color: aliceblue;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
header{
    margin: 2%;
    margin-top: 0%;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center; 
    line-height: 1;
}
header > div > h1{
    font-size: 75px;
    margin-bottom: 5px;
}
header > div > p{
    margin-top: 5px;
    font-size: 18px;
    letter-spacing: 1.2px;
}
span{
    color: #1100ff;
}
main{
    display: block;
    align-items: center;
    justify-content: center;
    margin: 0%;
}
.card{
    background-color: rgba(255, 255, 255, 0.5);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: 5px 0px 20px 5px black;
    width: 100%;
    padding: 4%;
    box-sizing: border-box;
    margin-bottom: 7%;
}
.card:hover{
    background-color: rgba(127, 127, 255, 0.2);
    box-sizing: border-box;
    box-shadow: 8px 0px 25px 5px black;
    transition: 0.4s;
}
main > div > h2{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1100ff;
    font-size: 35px;
}
main > div > p{
    margin: 2%;
    margin-bottom: 6%;
    font-size: 18px;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
}
.image{
    padding: 0%;
    display: flex;
    gap: 20px;
    align-self: flex-start;
}
.image > img{
    border: 1px solid whitesmoke;
    max-width: 100%;
}
.image > div{
    font-family: 'Poppins', sans-serif;
    color: rgb(0, 0, 0);
    height: 300px;
    width: 100%;
    margin: 3%;
    font-size: 16px;
    overflow: auto;
    line-height: 1.4;
    text-overflow: clip;
} 
@media (max-width: 800px){
    .image{
        flex-direction: column;
    }
    .image > img{
        width: 100%;
    }
    .image > div{
        width: 100%;
    }
}
footer{
    margin-top: 0%;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
}
footer p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2vh;
    margin-bottom: 0%;
}
.link{
    display: inline;
    padding: 2px;
}
.link img{
    width: 5%;
}



